<ion-view view-title="{{logo}}" >
  	<ion-content class="content">
  		<!-- <button class="share-icon" ng-click="shareNative()"><br><br><br>This is a share button<br><br><br></button> -->
	  	<a ng-href="#/app/services-single" class="row row-serv" ng-click="servName('{{service.serviceName}}')" ng-repeat="service in services">
	  		<div class="col serv-item">
	  			<div class="row no-padding center">
		  			<div class="serv-icon-wrapper no-padding ">
		  				<img src="{{service.serviceIcon}}" width="100%" alt="">
		  			</div>
		  			<div class="serv-desc-wrapper">
		  				<div class="v-align">
			  				<h4 class="v-align">{{service.serviceName}}</h4>
			  				<p class="no-margin">{{service.serviceDesc | limitTo:65}}...</p>
			  			</div>
		  			</div>
		  		</div>
	  		</div>
		</a>
  	</ion-content>
</ion-view>